/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title {
  font-family: Eczar;
  color: #dea300;
}

.bigtitle {
  font-family: Eczar;
  color: #dea300;
}

    .hamburger {
      position: fixed;
      left: 20px;
      top: 20px;
      width: 30px;
      height: 24px;
      cursor: pointer;
      z-index: 9999;
    }
    
    .hamburger__line {
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #ff6600;
      border-radius: 10px;
      transition: all 300ms ease;
      transform: rotate(0deg);
    }
    
    /* 線の位置（通常） */
    .hamburger__line:nth-child(1) { top: 0px; }
.hamburger__line:nth-child(2) { top: 10px; }
.hamburger__line:nth-child(3) { top: 20px; }
    
    /* ×変形（2本） */
    
    
    /* ×変形（3本） */
    
    .hamburger.open .hamburger__line:nth-child(1) {
      top: 10px;
      transform: rotate(45deg);
    }
    .hamburger.open .hamburger__line:nth-child(2) {
      opacity: 0;
    }
    .hamburger.open .hamburger__line:nth-child(3) {
      top: 10px;
      transform: rotate(-45deg);
    }
    
    /* メニュー本体 */
    .menu {
      position: fixed;
      top: 0;
      left: -50%;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-20px);
      transition: all 300ms ease;
      width: 100px;
      background-color: #e8e8e8;
      color: #333333;
      padding: 20px;
      gap: 10px;
      margin-top: 20px;
      z-index: 1;
    }
    
    .menu.open {
      left: 0%;
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
    
    .menu__item {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      font-size: 16px;
      color: inherit;
      padding-bottom: 10px;
      border-bottom: none;
    }
    .menu__item:last-child {
      border-bottom: none;
    }
    
    .icon img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    
    /* アニメーション */
    
    /* 左から右 */
    .slide-left-enter-active,
    .slide-left-leave-active {
      
          transition: all 300ms ease;
        
    }
    .slide-left-enter-from,
    .slide-left-leave-to {
      opacity: 0;
      transform: translateX(-20px);
    }
    .slide-left-enter-to,
    .slide-left-leave-from {
      opacity: 1;
      transform: translateX(0);
    }

.container {
  position: relative;
  top: 45vh;
  margin: 0 auto;
  width: 70vw;
}

.bigtitle {
  text-align: center;
  font-size: 50px;
}

.title {
  text-align: center;
  font-size: 40px;
}

.subtitle1 {
  margin-top: 50vh;
  text-align: center;
  font-size: 30px;
}

.script {
  width: 60vw;
  margin: 0 auto;
  font-size: 20px;
}

.end {
  width: 100%;
  margin-top: 30%;
  text-align: center;
  font-size: 2vw;
  background-color: #b5b5b5;
}

.pk {
  color: #dea300;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 40vw;
    height: 10vh;
    margin: 0 auto;
}

.box1 p {
    margin: 0; 
    padding: 0;
}

.img {
  width: 65vw;
}

.imgs {
  text-align:center;
}

.mc {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
